
@font-face {
  font-family: 'Sarcastic';
    src: url('https://dl.dropbox.com/scl/fi/4nt9vf61ujpbq50joh21v/Sarcastic-Regular-BF6875162c7200d.otf?rlkey=9kljt1gkwmlak338bmd06wsg9&st=qqa5lv56&dl=0');}

:root {
/* shadows */
  --fondoag: #0A0A0A;
  --fondoagi: #333333;
  --bordeag: #2E2E2E;
  --bordeag2: #141414;
  --acentoag: #4F683C;
  --acentoag2: #D19785;
  --acentoagc: #7BA25D;
  --blackag: #000000;
  --whiteag: #BABABA;
  --whiteag2: #CFCFCF;
}

.agpost{
  width: 720px;
  height: auto;
  background: var(--fondoag);
  position: relative;
  margin: 0 auto;
  border: 1px solid var(--bordeag);
}

.agpostop{
  width: 100%;
  height: 40px;
  background-color: var(--blackag);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235b5b5b' fill-opacity='0.29'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  border-bottom: 1px solid var(--bordeag);
}

.agdat{
  color: var(--whiteag);
  font-family: "DM Mono", monospace;
  font-size: 9px;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-style: italic;
  text-align: right;
  line-height: 12px;
  position: absolute;
  padding: 15px;
  margin-left: 10px;
}

.agdat m{
  color: var(--acentoag)
}

.agimg{
  width: 100%;
  height: 240px;
  background: var(--fondoagi);
  background-blend-mode: multiply;
  background-image: url("https://i.pinimg.com/1200x/65/5b/77/655b77d4c89dbaf9fd5317ea35391b77.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--bordeag);
}

.agimg img{
  width: 250px;
  height: 140px;
  object-fit: cover;
  border: 8px solid var(--bordeag2);
  outline: 0.5px solid var(--bordeag);
  outline-offset: 0px;
  filter: grayscale(100%) contrast(108%);
}

.agsubti{
  width: 260px;
}

.agtitle{
  color: var(--whiteag);
  font-family: 'Sarcastic';
  font-size: 65px;
  line-height: 50px;
  text-align: center;
}

.agsubtitle {
  color: var(--acentoag2);
  text-align: center;
  font-family: "DM Mono", monospace;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 0px;
  letter-spacing: 0.5px;
}

.agtexto{
  padding: 100px;
  font-family: "DM Mono", monospace;
  font-size: 12px;
  line-height: 25px;
  color: var(--whiteag2);
  text-align: justify;
}

.agtexto b{
  color: var(--acentoagc);
}

.agtexto i{
  color: var(--acentoagc);
}

.agtexto n{
  color: var(--acentoag2);
  font-weight: bold;
}

.agtexto m{
  color: #85BFD1;
  font-weight: bold;
}
